.input {
  &-range {
    .@{ant-prefix} {
      &-input {
        &-group {
          .input-range {
            &-splitter {
              background-color: transparent;
              border-left: none;
              border-right: none;
            }

            &-splitter,
            &-prefix,
            &-suffix {
              pointer-events: none;
            }
          }
        }
        &-number {
          z-index: 5;

          &-input {
            text-align: center;
          }

          &:hover,
          &-focused {
            border-color: @hover-color !important;
          }

          &.input-range {
            &-left {
              border-right-color: transparent;
            }

            &-right {
              border-left-color: transparent;
            }
          }
        }
      }
    }
  }

  &-date {
    .@{ant-prefix} {
      &-picker {
        &-time {
          &-panel {
            &-cell {
              &-selected {
                .@{ant-prefix}-picker-time-panel-cell-inner {
                  color: @white !important;
                }
              }
            }
          }
        }
        &-input > input {
          text-align: center;
        }
      }
    }
  }
}
