// Colours
@primary-color: #0e9f6e;
@link-color: #138bd0;
@success-color: #0e9f6e;
@warning-color: #ffc107;
@error-color: #f05252;
@text-selection-bg: #1890ff;
@unselect: #7aa997;
// Border
@border-radius-base: 6px;

// Button
@btn-font-weight: 700;
