// Colours
@primary-color: #0e9f6e;
@info-color: #138bd0;
@success-color: #0e9f6e;
@warning-color: #ffc107;
@error-color: #f05252;
@outline-color: @info-color;
@text-selection-bg: #1890ff;
@unselect: #7aa997;
@white: #fff;
@black: #000;
@grey: #858b9c;

// Height
@height-base: 36px;
@height-lg: 40px;
@height-sm: 32px;

// Border
@border-radius-base: 6px;

// Font
@font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
  'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
@font-size-base: 14px;
@font-size-lg: 16px;
@font-size-sm: 12px;
@heading-1-size: 72px;
@heading-2-size: 40px;
@heading-3-size: 32px;
@heading-4-size: 24px;
@heading-5-size: 20px;
@typography-title-font-weight: 700;

// Input
@input-hover-border-color: @info-color;

// Button
@btn-font-weight: 600;

// Media queries breakpoints
// @screen-xs and @screen-xs-min is not used in Grid
// smallest break point is @screen-md

//Extra extra small screen / phone
@screen-xxs: 0px;
@screen-xxs-min: @screen-xxs;
@screen-xxs-max: (@screen-xs-min - 1px);

// Extra small screen / phone
@screen-xs: 400px;
@screen-xs-min: @screen-xs;
@screen-xs-max: (@screen-sm-min - 1px);

// Small screen / tablet
@screen-sm: 600px;
@screen-sm-min: @screen-sm;
@screen-sm-max: (@screen-md-min - 1px);

// Medium screen / tablet landscape
@screen-md: 960px;
@screen-md-min: @screen-md;
@screen-md-max: (@screen-lg-min - 1px);

// Large screen / desktop
@screen-lg: 1280px;
@screen-lg-min: @screen-lg;
@screen-lg-max: (@screen-xl-min - 1px);

// Extra large screen / full hd
@screen-xl: 1600px;
@screen-xl-min: @screen-xl;
@screen-xl-max: (@screen-xxl-min - 1px);

// Extra extra large screen / large desktop
@screen-xxl: 1920px;
@screen-xxl-min: @screen-xxl;

@desktop-xxl: ~'only screen and (min-width: @{screen-xxl-min})';
@desktop-xl: ~'only screen and (min-width: @{screen-xl-min}) and (max-width: @{screen-xl-max})';
@desktop-lg: ~'only screen and (min-width: @{screen-lg-min}) and (max-width: @{screen-lg-max})';
@tablet-md: ~'only screen and (min-width: @{screen-md-min}) and (max-width: @{screen-md-max})';
@tablet-sm: ~'only screen and (min-width: @{screen-sm-min}) and (max-width: @{screen-sm-max})';
@mobile-xs: ~'only screen and (min-width: @{screen-xs}) and (max-width: @{screen-xs-max})';
@mobile-xxs: ~'only screen and (min-width: @{screen-xxs}) and (max-width: @{screen-xxs-max})';