// Colours
@primary-color: #0e9f6e;
@info-color: #138bd0;
@success-color: #0e9f6e;
@warning-color: #ffc107;
@error-color: #f05252;
@outline-color: @info-color;
@text-selection-bg: #1890ff;
@unselect: #7aa997;
@white: #fff;
@black: #000;
@grey: #858B9C;
@text-color: fade(@black, 85%);

// Height
@height-base: 36px;
@height-lg: 40px;
@height-sm: 32px;

// Border
@border-radius-base: 6px;

// Font
@font-size-base: 14px;
@font-size-lg: 16px;
@font-size-sm: 12px;
@heading-1-size: 72px;
@heading-2-size: 40px;
@heading-3-size: 32px;
@heading-4-size: 24px;
@heading-5-size: 20px;
@typography-title-font-weight: 700;

// Input
@input-hover-border-color: @info-color;

// Button
@btn-font-weight: 600;
