div {
  .container {
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }

  .container h1 {
    font-weight: 600px;
  }

  .ant-space {
    width: 40%;
  }

  [role="alert"] {
  margin-bottom: 15px;
  text-align: left;
}
}

span.input {
  height: 45px;
}

