.dashboard {
 
  &-multiple-container-card {
    margin: 0 2.5% !important;
  }

  &-toDoList {
    &-item {
      cursor: pointer;

      &:hover {
        background-color: @green-200 !important;
      }
    }

    &-col {
      flex-grow: 1;
    }
  }

  &-more-btn {
    position: relative;
    left: 7px;
  }

  &-right-arrow {
    padding: 0;
    margin: 0;
    vertical-align: bottom;
  }

  &-grey-text {
    color: @grey !important;
  }
}
