.dashboard {
  &-toDoList {
    &-text {
      color: @grey !important;
    }

    &-item {
      cursor: pointer;

      &:hover {
        background-color: @green-100 !important;
      }
    }
  }
}
