@import (reference) '../../App.less';

// Header
.header {
  position: fixed;
  width: calc(100% - 220px);
  height: 80px !important; // overwrite header height to 80px
  background-color: @layout-header-background;

  &-fixed {
    height: 80px;
    box-shadow: 2px 0px 4px 0px #0000000d;
  }

  .@{ant-prefix} {
    &-breadcrumb {
      font-weight: 600;
    }
  }
}

// Sider
.sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  box-shadow: 2px 0px 4px 0px #0000000d;
  z-index: 5;

  &::-webkit-scrollbar {
    display: none;
  }

  &-menu {
    font-weight: 500;
  }

  &-logo-fixed {
    background-color: @layout-sider-background;
    position: relative;
    height: 80px;
  }

  &-logo-wrapper {
    .centerFlex();
    position: fixed;
    height: 80px;
    width: 220px;
    background-color: @layout-sider-background;
    z-index: 5;
    cursor: pointer;
    user-select: none;

    &:hover {
      opacity: 90%;
    }
  }

  &-logo {
    pointer-events: none;
  }

  .@{ant-prefix} {
    &-menu {
      &-item {
        &-only-child {
          .@{ant-prefix}-menu-title-content{
            padding-left: 15px;
          }
          &:hover, &:active{
            background-color: @grey-100 !important;
          }
        }
        &-selected {
          font-weight: bold;
        }
  
        &-only-child,&-selected::after{
          height: 75%;
          border-radius: 3px 0 0 3px;
          margin-top: auto;
          margin-bottom: auto;
        }
      }
    }
  }
}

.content {
  margin-top: 20px;
}

//Footer
footer.footer {
  color: @grey;
  font-weight: 500;
  user-select: none;
}
