html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.width-full {
  width: 100%;
}

.height-full {
  height: 100%;
}

.wight-fill-vp {
  width: 100vw;
}

.height-fill-vp {
  height: 100vh;
}

.float-left {
  float: 'left';
}

.float-right {
  float: 'right';
}

.centerFlex {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.container-card-wrapper {
  width: 100%;
  padding-top: 10px;
}

.padding-0 {
  padding: 0 !important;
}

.margin-0 {
  margin: 0 !important;
}

.@{ant-prefix} {
  &-dropdown-menu-item {
    &:hover:not(&-disabled) {
      background-color: @grey-200 !important;
    }
    &-selected,
    &-submenu-title-selected {
      background-color: transparent !important;
      &:hover {
        background-color: @grey-200 !important;
      }
    }
  }

  &-menu {
    &-item {
      &-selected {
        font-weight: bold;
      }
      &-only-child {
        &:hover,
        &:active {
          background-color: @grey-100;
        }
      }
    }
  }

  &-tabs {
    &-ink-bar {
      height: 3px !important;
    }

    &-tab {
      padding: 16px 15px !important;
      &-active {
        font-weight: bold !important;
      }
    }
  }

  &-select {
    &-selection {
      &-item {
        color: @grey !important;
      }
    }
  }

  &-table {
    &-pagination {
      align-items: center;
    }
  }
}

.color {
  &-primary {
    color: @primary-color !important;
  }

  &-error {
    color: @error-color !important;
  }

  &-warning {
    color: @warning-color !important;
  }

  &-info {
    color: @info-color !important;
  }

  &-grey {
    color: @grey !important;
  }
}

.text {
  &-lg {
    font-size: @font-size-lg;
  }

  &-sm {
    font-size: @font-size-sm;
  }
}
