html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.width-full {
  width: 100%;
}

.height-full {
  height: 100%;
}

.wight-fill-vp {
  width: 100vw;
}

.height-fill-vp {
  height: 100vh;
}

.float-left {
  float: 'left';
}

.float-right {
  float: 'right';
}

.centerFlex {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.container-card-wrapper {
  width: 100%;
  padding-top: 10px;
}

.padding-0 {
  padding: 0 !important;
}

.margin-0 {
  margin: 0 !important;
}

.item-img-container {
  width: 120px;
  height: 120px;

  @media @desktop-xl {
    width: 100px;
    height: 100px;
  }
}

.form-horizontal {
  display: flex !important;
  flex-direction: row !important;
  align-items: center;

  &>.@{ant-prefix}-form-item{
    &-label {
      padding: 0 8px 0 0 !important;
    }
  }
}

.@{ant-prefix} {
  &-dropdown-menu-item {
    &:hover:not(&-disabled) {
      background-color: @grey-200 !important;
    }
    &-selected,
    &-submenu-title-selected {
      background-color: transparent !important;
      &:hover {
        background-color: @grey-200 !important;
      }
    }
  }

  &-menu {
    &-item {
      &-selected {
        font-weight: bold;
      }
      &-only-child {
        &:hover,
        &:active {
          background-color: @grey-100;
        }
      }
    }
  }

  &-tabs {
    &-ink-bar {
      height: 3px !important;
    }

    &-tab {
      padding: 16px 15px !important;
      
      &-active {
        font-weight: bold !important;
      }
    }
  }

  &-select {
    &-selection {
      &-item {
        color: @grey !important;
      }
    }
  }

  &-table {
    &-pagination {
      align-items: center;
    }
  }

  &-radio {
    &-button {
      &-wrapper {
        background-color: @unselected-color !important;
        border: none !important;

        &:not(:first-child)::before {
          padding: 0 !important;
          width: 0 !important;
          box-sizing: none !important;
          border: none !important;
        }

        &:hover {
          color: @white !important;
          background-color: @success-color !important;
        }

        &-checked {
          background-color: @primary-color !important;
        }
      }
    }

    &-wrapper {
      margin-right: 10px !important;
    }
  }

  &-upload {
    padding: 5px !important;
    &-btn {
      padding: 15px !important;
    }
  }

  &-form {
    &-item {
      &-required, &-label>label {
        color: @grey-600 !important;
      }
    }
  }

  &-anchor {
    &-ink {
      &-ball {
        width: 3px !important;
        height: 30px !important;
        background-color: @primary-color !important;
        transform: translate(-50%, -35%) !important;
      }

      &::before {
        width: 4px !important;
        height: 96% !important;
        border-radius: 12px;
        position: relative !important; 
        top: 3px !important;
      }
    }
    &-link {
      &-title {
        font-weight: 500;
        padding: 1px 0;

        &-active {
          font-weight: bold;
        }
      }
    }
  }
}

.color {
  &-primary {
    color: @primary-color !important;
  }

  &-error {
    color: @error-color !important;
  }

  &-warning {
    color: @warning-color !important;
  }

  &-info {
    color: @info-color !important;
  }

  &-grey {
    color: @grey !important;
  }
}

.text {
  &-lg {
    font-size: @font-size-lg;
  }

  &-sm {
    font-size: @font-size-sm;
  }
}
